.front{
    background-image: linear-gradient(
  320deg,
  hsl(329deg 20% 43%) 0%,
  hsl(335deg 15% 52%) 13%,
  hsl(342deg 14% 59%) 22%,
  hsl(349deg 14% 66%) 31%,
  hsl(356deg 15% 71%) 38%,
  hsl(4deg 17% 76%) 47%,
  hsl(12deg 21% 81%) 57%,
  hsl(18deg 27% 85%) 69%,
  hsl(24deg 38% 89%) 83%,
  hsl(29deg 60% 93%) 100%
);
}
.front2, .about-me, .footer{
    background-color: #FFFBF5;
}

#hcg-slider-1 .hcg-slide-container {
	width: auto;
	height: auto;
}
.hcg-slider {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}
.hcg-slides {
	display: none;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
}
.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
#hcg-slide-prev, #hcg-slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	text-decoration: none;
	text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
#hcg-slide-prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}
#hcg-slide-prev:hover, #hcg-slide-next:hover {
	background-color: #000c;
}
.hcg-slide-dot-control {
	margin-top: 10px;
	text-align: center;
}
.hcg-slide-dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.hcg-slide-dot.dot-active {
	background-color: #717171;
}
.hcg-slide-number {
	color: #ffffff;
	font-size: 12px;
	padding: 4px 7px;
	position: absolute;
	border-radius: 5px;
	top: 5px;
	left: 5px;
	background-color: rgba(255,255,255,0.30);
}
/************CSS Animation***********/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 1s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}

